.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100vh;
}

.title {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  color: #fff;
  
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5em 1em;
  background-color: #0f93d1;
  color: var(--bg-color);
  border: 2px solid #000;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
}


.button {
  --width: 150px;
  --timing: 2s;
  border: 0;
  width: var(--width);
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(64, 192, 87);
  transition: all 0.5s;
  border-radius: 3px;
}


.button:hover {
  background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
  cursor: pointer;
}
@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}



/* Estilos para modo oscuro */
.darkMode {
  background-color: #121212; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

.darkMode .title {
  color: #fff; /* Texto blanco */
}



.darkMode .label {
  background-color: #0f93d1;
  color: var(--bg-color);
  border: 2px solid #000;
}


@media (max-width: 740px) {
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }

  .inputContainer {
    flex-direction: column;
  }
  .label {
    border-radius: 5px 5px 0 0;
  }

  .input {
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }

  .label {
    font-size: 1.2rem;
  }

  .input {
    font-size: 1.2rem;
  }

  .button {
    --width: 120px;
    font-size: 0.9em;
    padding-block: 0.8em;
  }
}
